**.DS_Store**
../.DS_Store
*.pyc
__pycache__/
videos
logs
build
dist
**__pycache__**
**.idea**
**logs**
test.py
tests/test_videos/*
tests/temp/*
**.pytest_cache**
Presage_Physiology_Preprocessing.egg-info
/tests/test_videos